

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Poppins', sans-serif;
    background: #f1f1f1;
}

/*  <!-- Navigation verticale / Left Fixed Navbar --> */
.nav-gauche {
    width: 300px;
    height: 100vh;
    min-height: 800px;
    background: #333;
    position: fixed;
    top: 0;
    left: -300px;
    border-right: 1px dashed #f1f1f1;
    z-index: 5;
    transition: all 0.2s ease-in-out;
}

/************************ HOME SECTION **********************/
.accueil {
    background: url(ressources/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    min-height: 900px;
    width: calc(100% - 300px);
    margin-left: auto;
    position: relative;
}
h1 {
    font-size: 90px;
    font-family: 'Abril Fatface', sans-serif;
    margin: 0 60px;
    padding-top: 210px;
}
.txt-animation {
    font-size: 30px;
    margin: 10px 0 10px 60px;
}
.btn-acc {
    display: inline-flex;
    width: 200px;
    height: 50px;
    text-decoration: none;
    background: #000;
    justify-content: center;
    align-items: center;
    color: #f1f1f1;
    margin: 10px 0 0 0;
    border-radius: 2px;
    font-size: 18px;
}
.btn-acc1 {
    margin: 10px 0 0 60px;
}
.btn-acc2 {
    background: transparent;
    border: 2px solid black;
    color: black;
    font-weight: 700;
}
.medias {
    display: flex;
    margin-left: 60px;
    margin-top: 30px;
}
.media {
    width: 60px;
    height: 60px;
    background: #333;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.media2 {
    background: transparent;
    border: 2px solid #333;
}
.icone-medias {
    width: 30px;
}
.btn-rond {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: 20px;
    left: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 0 #333;
    background: #333;
    animation: pulse 1.3s infinite;
}
@keyframes pulse {
    to {
        box-shadow: 0 0 0 8px rgba(255,255,255,0.01);
    }   
}
.logo-btn-rond-acc {
    width: 35px;
}




.presentation {
    width:  calc(100% - 300px);
    margin-left: auto;
    position: relative;
    overflow: hidden;
    border-top: double;
    border-bottom:double ;
    color:whitesmoke;
}
.fond-forme {
    background: #222f3e;
    background-image:linear-gradient(#2c2c54,#40407a) ;
    width: 1500px ;
    height: 1100px;
    position: absolute;
    transform: rotate(-80deg) translateX(390px) translateY(-230px);
    z-index: -1;
}

.titre-pres {
    font-size:xx-large ;
    text-align:center ;
    margin: 50px 50px 50px 50px ;
    padding-left: 0px ;
}

.container-presentation {
    display: flex;
    width:auto ;
    justify-content: left ;
    align-items: flex-start ;
    margin: 10px 0 ;
    flex-shrink: 0;
    padding-left: 100px 0  ;
}
.pres-gauche {
    width: 600px;
    flex-shrink: 0;
    margin-bottom: 50px;
    padding-left: 150px;
    padding-top: 20px;
}
.pres-gauche h3 {
    text-align:center ;
    font-size: initial;
    letter-spacing: initial;
}
.pres-gauche hr {
    width: auto;
    margin: auto ;
}
.pres-gauche p {
    text-align: justify;
}

.pres-droite {
    width: 600px;
    flex-shrink: 0;
    display: initial;
    justify-content: center;
}
.liste-presentation {
    list-style-type: none ;
    padding: 10px 0 0 100px ;
}
.chiffre-style {
    font-family: 'Abril Fatface', sans-serif;
    font-size: initial ;
}
.txt-liste {
    font-size: initial ;
    display: inline-table ;
}



/* Experiences */

.travail-exp {
    width: calc(100% - 300px);
    margin-left: auto;
}

.titre-travail-exp {
    font-size: 35px;
    text-align: center;
    margin: 20px 0;
}
.cont-exp-travail {
    display: flex;
}
.barre-verticale {
    background: #DEDEDE;
    width: 10px;
    height: 335px;
}
.boule-ico {
    width: 30px;
    margin-bottom: 58px;
}
.boule-ico img {
    background: #f1f1f1;
    /* padding: 3px; */
    margin: -4px;
    width: 20px;
    height: 20px;
    border-radius: 81%
}

.boule-ico .avion {
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    margin-left: -10px;
}

.flex-cont-bloc-exp {
    margin-left: 30px;
}
   
.bloc {
    margin-bottom: 50px;
    margin-left: 28px;
}
.bloc-bloc1 {
    margin-bottom: 20px;
}

.bloc-bloc2 {
    margin-bottom: 38px;
}

.bloc-bloc3 {
    margin-bottom: 42px;
}

.date {
    background: #b1b1b1;
    padding: 2px;
    border-radius: 2px;
    color: #FFF;
    font-weight: normal;
}


.contenu-bloc {

}
    
.titre-section-bloc {
    font-weight: bold;
}
